.footer {
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #E5E7EB; 
}

.dark_footer {
    background-color: #2A2A2A;
    color: white;
}